.form {
    &__field {
        position: relative;
    }
    label {
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #21212170;
        font-size: 1.5vh;
    }
    input {
        border: none;
        display: block;
        height: 50px;
        background-color: #f2f4f6;
        margin: 20px 0;
        border-radius: 20px;
        font-weight: bold;
        width: 100%;
        padding: 30px;
        padding-bottom: 5px;
        font-size: 15px;
    }
    button:last-child {
        margin-top: 20px;
    }
}


